<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/mens.css"  th:href="@{/css/mens.css}"/>
    <title>Men's Shoes</title>
</head>
<body>

<div class="headerimage">
    <a href="index.html" th:href="@{/}"><img src="../static/images/clarks.png" th:src="@{/images/clarks.png}"></a>

    <div class="custom-padding">
        <nav>
            <ul class="menu-area">
                <li><a href="index.html" th:href="@{/}">Home</a></li>
                <li><a href="Mens.html" th:href="@{/Mens.html}">Men's</a></li>
                <li><a href="womens.html" th:href="@{/womens.html}">Women's</a></li>
                <li><a href="contactus.html" th:href="@{contactus.html}">Contact</a></li>
                <li><a href="/book" th:href="@{/book}">Register Interest</a></li>
                <li><a href="register.html" th:href="@{/register}">Sign Up</a></li>
                <li><a href="/profile" th:href="@{/profile}">Profile</a></li>
                <li><a href="/login" th:href="@{/login}">Login</a></li>
                <li><a href="/logout" th:href="@{/logout}">Log Out</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="Title">
<p>Men's Shoes</p>
</div>
<div id="p-flex">
    <div class="p-flex"><div class="p-flex-in">
        <a href="mensShoe1.html"><img class="p-img" src="../static/images/shoe1copy.jpg" th:src="@{/images/shoe1copy.jpg}"/></a>
        <div class="p-name">Reebok White & Blue Workout Plus Trainers</div>
        <div class="p-price">$99.99</div>

    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="mensShoe2.html"><img class="p-img" src="../static/images/shoe2copy.jpg" th:src="@{/images/shoe2copy.jpg}"/></a>
        <div class="p-name">Vans Shoe</div>
        <div class="p-price">$88.88</div>

    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="mensShoe3.html"><img class="p-img" src="../static/images/shoe3copy.jpg" th:src="@{/images/shoe3copy.jpg}"/></a>
        <div class="p-name">Nike White Air Force 1 07 Trainers</div>
        <div class="p-price">$77.77</div>
    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="mensShoe4.html"><img class="p-img" src="../static/images/shoe4copy.jpg" th:src="@{/images/shoe4copy.jpg}"/></a>
        <div class="p-name">Adidas Skateboarding Trainers</div>
        <div class="p-price">$11.11</div>

    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="mensShoe1.html"><img class="p-img" src="../static/images/shoe1copy.jpg" th:src="@{/images/shoe1copy.jpg}"/></a>
        <div class="p-name">Reebok White & Blue Workout Plus Trainers</div>
        <div class="p-price">$22.22</div>

    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="mensShoe2.html"><img class="p-img" src="../static/images/shoe2copy.jpg" th:src="@{/images/shoe2copy.jpg}"/></a>
        <div class="p-name">Vans Shoe</div>
        <div class="p-price">$33.33</div>

    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="mensShoe3.html"><img class="p-img" src="../static/images/shoe3copy.jpg" th:src="@{/images/shoe3copy.jpg}"/></a>
        <div class="p-name">Nike White Air Force 1 07 Trainers</div>
        <div class="p-price">$33.33</div>

    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="mensShoe4.html"><img class="p-img" src="../static/images/shoe4copy.jpg" th:src="@{/images/shoe4copy.jpg}"/></a>
        <div class="p-name">Adidas Skateboarding Trainers</div>
        <div class="p-price">$33.33</div>
    </div></div>
</div>


<footer>Muhammad Islam</footer>

</body>
</html>