<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/womens.css" th:href="@{/css/womens.css}"/>
    <title>Women's Shoes</title>

</head>
<body>

<div class="headerimage">
    <a href="index.html" th:href="@{/}"><img src="../static/images/clarks.png" th:src="@{/images/clarks.png}"></a>


    <div class="custom-padding">
        <nav>

            <ul class="menu-area">
                <li><a href="index.html" th:href="@{/}">Home</a></li>
                <li><a href="Mens.html" th:href="@{/Mens.html}">Men's</a></li>
                <li><a href="womens.html" th:href="@{/womens.html}">Women's</a></li>
                <li><a href="contactus.html" th:href="@{contactus.html}">Contact</a></li>
                <li><a href="/book" th:href="@{/book}">Register Interest</a></li>
                <li><a href="register.html" th:href="@{/register}">Sign Up</a></li>
                <li><a href="/profile" th:href="@{/profile}">Profile</a></li>
                <li><a href="/login" th:href="@{/login}">Login</a></li>
                <li><a href="/logout" th:href="@{/logout}">Log Out</a></li>
            </ul>
        </nav>

    </div>
</div>
<div class="Title">
    <p>Women's Shoes</p>
</div>
<div id="p-flex">
    <div class="p-flex"><div class="p-flex-in">
        <a href="womensShoe1.html"><img class="p-img" src="../static/images/shoe5copy.jpg" th:src="@{/images/shoe5copy.jpg}"/></a>
        <div class="p-name">Vans Trainers</div>
        <div class="p-price">$99.99</div>

    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="womensShoe2.html"><img class="p-img" src="../static/images/shoe6copy.jpg" th:src="@{/images/shoe6copy.jpg}"/></a>
        <div class="p-name">Converse Trainers</div>
        <div class="p-price">$88.88</div>

    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="womensShoe3.html"><img class="p-img" src="../static/images/shoe7copy.jpg" th:src="@{/images/shoe7copy.jpg}"/></a>
        <div class="p-name">Converse Trainers</div>
        <div class="p-price">$77.77</div>
    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="womensShoe4.html"><img class="p-img" src="../static/images/shoe8copy.jpg" th:src="@{/images/shoe8copy.jpg}"/></a>
        <div class="p-name">Vans Trainers</div>
        <div class="p-price">$11.11</div>

    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="womensShoe1.html"><img class="p-img" src="../static/images/shoe5copy.jpg" th:src="@{/images/shoe5copy.jpg}"/></a>
        <div class="p-name">Vans Trainers</div>
        <div class="p-price">$22.22</div>
    </div></div>

    <div class="p-flex"><div class="p-flex-in">
        <a href="womensShoe2.html"><img class="p-img" src="../static/images/shoe6copy.jpg" th:src="@{/images/shoe6copy.jpg}"/></a>
        <div class="p-name">Converse Trainers</div>
        <div class="p-price">$33.33</div>
    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="womensShoe3.html"><img class="p-img" src="../static/images/shoe7copy.jpg" th:src="@{/images/shoe7copy.jpg}"/></a>
        <div class="p-name">Converse Trainers</div>
        <div class="p-price">$33.33</div>
    </div></div>
    <div class="p-flex"><div class="p-flex-in">
        <a href="womensShoe4.html"><img class="p-img" src="../static/images/shoe8copy.jpg" th:src="@{/images/shoe8copy.jpg}"/></a>
        <div class="p-name">Vans Trainers</div>
        <div class="p-price">$33.33</div>
    </div></div>
</div>

<footer >Muhammad Islam</footer>

</body>
</html>